<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>joinform.html</title>
    <link href="/gram.css" rel="stylesheet" >
    <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
</head>
<body>
    <div class="container">
        <div class="profile-wrap">
            <div class="profile">
                <form id="login-form" method="post">
                    <div class="field">
                        <label id="email">이메일</label>
                        <input type="text" id="email" name="email" >
                    </div>
                    <div class="field">
                        <label for="password">비밀번호</label>
                        <input id="password" type="password" name="password" >
                    </div>
                    <div class="field">
                        <label for="nick">닉네임</label>
                        <input id="nick" type="text" name="nick" >
                    </div>
                    <div class="btns">
                        <button>회원가입</button>
                        <input type="button" value="되돌아가기" onClick="location.href='/'"/>
                    </div>
                    <div id="message"></div>
                </form>
            </div>
        </div>
    </div>
</body>
</html>
<script type="text/javascript">
    document.querySelector("form").addEventListener('submit',async(e)=>{
        e.preventDefault();
        let submitv = true;
        let formdate =new FormData(e.target);
        let obj ={};
        formdate.forEach((v,k)=>{
            if(v =="" && submitv){
                alert(k+"를(을) 입력하세요.");
                submitv = false;
            }else obj[k] = v;
        });    
        if(!submitv) return false;
         
        try{
            const result = await axios.post('/user/join',obj);
            const msg = result.data.msg;
            console.log(result);
            if(msg != "ok") document.querySelector("#message").innerHTML =msg;
            else {
                alert('회원 가입이 완료되었습니다. 로그인하세요.');
                location.href="/";
            }
        }catch(err){
            console.error(err);
        }

    });
</script>